.hero-section {
    max-width: 1800px;
    margin: auto;
}

.hero-content {
    display: flex;
    padding: 15px 25px;
}

.hero-content>* {
    flex: 1;
}

.logo {
    display: flex;
}

.logo img {
    margin: auto;
    width: 70%;
    max-width: 500px;
}

.intro {
    margin: auto 0;
}

.intro p {
    text-align: center;
}