.sticky-bar {
    z-index: 99;
    height: 100vh;
    max-width: 21em;
    background-color: #111;
    flex-direction: column;
    padding-left: 2.5em;
    padding-right: 2.5em;
    display: flex;
    position: sticky;
    top: 0;
}

.sticky-bar ul {
    list-style: none;
    flex-direction: column;
    flex: 1;
    display: flex;
}

.sticky-bar li {
    display: inline;
    margin: 0 10px;
}

.sticky-bar ul li a {
    color: #ffffff;
    transition: color 0.5s, margin-left 1s;
    /* Durée de l'animation et propriétés affectées */
}

.sticky-bar ul li a:hover {
    color: #e5322b;
    margin-left: 15px;
}