.button {
    background-color: var(--third-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.625em;
    cursor: pointer;
    transition: all 1s ease-out;
    width: 14rem;
    max-width: 21em;
    font-size: 1.4rem;
    margin: auto;
    display: block;
}

.button:hover {
    background-color: var(--secondary-color);
}