.header {
    display: flex;
    justify-content: space-between;
}

.home_grid,
.techno_grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.home_box:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.home_box:nth-child(1)
{
    flex-direction: row;
}

.home_box {
    width: 100%;
    height: 100%;
    padding: 2em;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    background-color: var(--object-color);
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.625em;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.techno_box {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
    background-color: var(--secondary-color);
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.625em;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 7em;
    background-color: #f9f9f9;
    border-radius: 0.6em;
    justify-content: center;
    align-items: center;
    display: flex;
}